---

- name: Allow HTTPS through firewall
  ufw:
    proto: tcp
    rule: allow
    direction: in
    to_port: "8501"

- name: Allow SERF through firewall
  ufw:
    proto: any
    rule: allow
    direction: in
    to_port: "8301"

- name: Allow RPC through firewall
  ufw:
    proto: tcp
    rule: allow
    direction: in
    to_port: "8300"

...
