{{ vault_log_dir }}/*.log {
    daily
    rotate 30
    missingok
    notifempty
    compress
    postrotate
      systemctl kill -s HUP rsyslog.service
      systemctl kill -s HUP vault.service
    endscript
}
